apiVersion: monitoring.rhobs/v1
kind: PrometheusRule
metadata:
  name: llmd-prometheusrules
  namespace: {{.Namespace}}
spec:
  groups:
      - name: SLOs-llmd-availability
        rules:
        - alert: LlmdModelServiceAvailability
          annotations:
            message: 'LLM-D ModelService availability is degraded in namespace {{`{{`}}$labels.namespace{{`}}`}}.'
            summary: LLM-D ModelService Availability Alert
          expr: |
            (1 - (sum(rate(container_cpu_usage_seconds_total{namespace="llm-d", pod=~".*modelservice.*"}[5m])) by (namespace) / count(up{job="kubelet", namespace="llm-d"}) by (namespace))) > 0.02
          for: 5m
          labels:
            severity: warning
        - alert: LlmdInfraAvailability
          annotations:
            message: 'LLM-D Infra availability is degraded in namespace {{`{{`}}$labels.namespace{{`}}`}}.'
            summary: LLM-D Infra Availability Alert
          expr: |
            (1 - (sum(rate(container_cpu_usage_seconds_total{namespace="llm-d", pod=~".*infra.*"}[5m])) by (namespace) / count(up{job="kubelet", namespace="llm-d"}) by (namespace))) > 0.02
          for: 5m
          labels:
            severity: warning

      # RecordingRules for LLM-D Components
      - name: SLOs - LLM-D Components
        rules:
        - expr: |
            sum(up{namespace="llm-d"}) by (namespace, pod)
          record: llmd:component:availability
