---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
  name: opendatahub-operator-controller-manager-metrics-service
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8080
  selector:
    control-plane: controller-manager
