---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/created-by: opendatahub-operator
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/part-of: opendatahub-operator
  name: opendatahub-operator-webhook-service
  namespace: {{ .Release.Namespace }}
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 9443
  selector:
    control-plane: controller-manager
    name: opendatahub-operator
